<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Initial page</title>
</head>
<body>
    <h1>Simple HTS</h1>
    <button id="login">로그인</button>
    <button id="signup">회원가입</button>
    <script>
        const loginButton = document.getElementById("login");
        const signupButton = document.getElementById("signup");

        loginButton.addEventListener('click', () => {
            window.location = 'http://localhost:3000/users/login';
        });
        signupButton.addEventListener('click', () => {
            window.location = 'http://localhost:3000/users/signup';
        });
    </script>
</body>
</html>